{{define "nav"}}
<nav id="main-nav" class="header-center">
    <a href="/" class="nav-link">{{t "nav.home"}}</a>
    <a href="/airports/search" class="nav-link">{{t "nav.search"}}</a>
    <a href="/airports/nearby" class="nav-link">{{t "nav.nearby"}}</a>
    <a href="/stats" class="nav-link">{{t "nav.statistics"}}</a>
    <a href="/geoip" class="nav-link">{{t "nav.geoip"}}</a>
</nav>
{{end}}
